.item_simples {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: space-around;
  padding: 16px 0;
  background-color: var(--sky-lightest);
  border-radius: 16px;
  text-decoration: none;
}
