.homepage {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.header_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.header_section h1,
.titulo_sessao h2 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.item_solicitacao {
  text-decoration: none;
  border-radius: 12px;
  padding: 9px 19px;
  display: flex;
  flex-direction: row;
  background-color: var(--sky-lightest);
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.item_estoque p {
  min-width: fit-content;
}

.item_estoque h4 {
  min-width: fit-content;
}

.lista_itens {
  flex-direction: column;
  display: flex;
  gap: 14px 0;
}
