.formulario {
  max-width: 28.125rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.formulario_interno {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input_container {
  display: flex;
  flex-direction: column;
  gap: 8px 0;
}

.input_container label {
  font-weight: bold;
  font-size: 0.875rem;
  color: var(--ink-darker);
}

.input_container input,
.input_container select {
  width: 100%;
  padding: 1.063rem 1rem;
  border-radius: 0.75rem;
  outline: none;
  border: 1px solid var(--sky-ligth);
}

.input_container input:focus,
.input_container select:focus {
  border-color: var(--primary-darkest);
}

.checkbox_container {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 14px 0;
  border-bottom: 1px solid #ececec;
}

.checkbox_container input[type="checkbox"],
.checkbox_container input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 22px;
  height: 22px;
  border: 2px solid #c9c9c9;
  border-radius: 6px;
  background: white;
  cursor: pointer;
  position: relative;
  transition: 0.2s ease;
}

.checkbox_container input[type="checkbox"]:checked,
.checkbox_container input[type="radio"]:checked {
  background: #4a7df0;
  border-color: #4a7df0;
}

.checkbox_container input[type="checkbox"]:checked::after,
.checkbox_container input[type="radio"]:checked::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2px;
}

.checkbox_container label {
  font-size: 16px;
  color: #444;
  cursor: pointer;
}

.uploadBox {
  position: relative;
  border: 3px dashed #66b8ff;
  background: #d9f2ff;
  border-radius: 16px;
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
}
.uploadBox:hover {
  background: #ccecff;
}
.uploadBox input[type="file"] {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.uploadContent {
  text-align: center;
  color: #57a9ff;
  font-size: 20px;
  font-weight: 500;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.fileSelected {
  background: #eaf7ff;
  border: 2px solid #92ceff;
  border-radius: 14px;
  padding: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 200px;
}

.fileSelected p {
  margin: 0;
  color: #1681e6;
  font-size: 15px;
}
.fileSelected span {
  font-size: 14px;
  color: #2c7ac2;
}

.changeBtn {
  background: #66b8ff;
  color: white;
  padding: 6px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
  white-space: nowrap;
}
.changeBtn:hover {
  background: #4aa7f7;
}
.changeBtn input {
  display: none;
}

.removeBtn {
  background: transparent;
  color: #ff5757;
  font-size: 13px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}
.removeBtn:hover {
  color: #ff2626;
}

.color_input {
  width: 100%;
  max-width: 120px;
  height: 42px;

  padding: 4px;
  border-radius: 10px;

  background-color: var(--sky-lightest);
  border: 1px solid var(--sky-ligther);

  cursor: pointer;
}
.color_input::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 8px;
}

.color_input::-webkit-color-swatch {
  border-radius: 8px;
  border: none;
}
.color_input:hover {
  border-color: var(--primary-base);
}

.color_input:focus {
  outline: none;
  border-color: var(--primary-darkest);
  box-shadow: 0 0 0 2px rgba(72, 167, 248, 0.3);
}
