.card {
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
}

.card a {
  text-decoration: none;
}
.nome {
  margin-bottom: 20px;
}

.info_row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.label {
  color: var(--sky-dark);
}

.valor {
  font-weight: 700;
  color: var(--ink-base);
}

.vencimento_container {
  background: var(--blue-lightest);
  border-radius: 16px;
  padding: 16px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
