.item_container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  border: none;
  background-color: var(--sky-lightest);
  padding: 10px 15px;
}

.container_veiculo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  gap: 16px;
  padding: 10px 14px;

  background-color: var(--sky-lightest);
  border: 1px solid var(--sky-ligther);
  border-radius: 8px;

  transition:
    background-color 0.2s ease,
    box-shadow 0.2s ease;
}

.container_veiculo:hover {
  background-color: var(--blue-lightest);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06);
}

.placa {
  display: flex;
  align-items: center;
  gap: 6px;

  padding: 6px 10px;
  min-width: 120px;

  background-color: var(--primary-darkest);
  color: white;

  font-weight: 700;
  font-size: 0.95rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;

  border-radius: 6px;
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.nome {
  display: flex;
  align-items: center;
  gap: 6px;

  font-weight: 600;
  color: var(--ink-darker);
  font-size: 0.95rem;
}

.modelo {
  font-size: 0.8rem;
  color: var(--sky-dark);
}

.status {
  padding: 4px 10px;

  font-size: 0.7rem;
  font-weight: 600;
  text-transform: uppercase;

  border-radius: 12px;

  background-color: var(--yellow-lightest);
  color: var(--yellow-base);
}
