.item_container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  border: none;
  background-color: var(--sky-lightest);
  padding: 10px 15px;
}
