.lista {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.lista li a {
  padding: 10px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #cccccc67;
  text-decoration: none;
  color: var(--ink-darker);
  font-weight: 600;
}

.lista li span {
  background-color: var(--sky-lightest);
  color: var(--primary-base);
  border-radius: 30%;
  padding: 4px;
}
