.entidade_page {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}

.header_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.header_section h1 {
  display: flex;
  align-items: center;
  gap: 10px;
}
