.entidade_page {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}

.header_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.header_section h1 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.error_message {
  background: #ffe1e1;
  color: var(--red-base);
  padding: 10px;
  border-radius: 6px;
  font-size: 14px;
  text-align: center;
}
