.homepage {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}

.lista_entidades {
  flex-direction: column;
  display: flex;
  gap: 14px 0;
}

.titulo_sessao {
  text-align: center;
  margin: 20px auto;
}

.rodape {
  position: fixed;
  bottom: 0;
  left: 36%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
