.homepage {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}

.header_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.header_section h1,
.titulo_sessao h2 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.titulo_sessao {
  margin-top: 10px;
}

.lista_entidades {
  flex-direction: column;
  display: flex;
  gap: 14px 0;
}

.rodape {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 18px;
  gap: 10px;
  z-index: 10;
}

.user_section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.user_section span {
  border: 1px solid var(--sky-ligther);
  color: var(--primary-base);
  background: var(--sky-lightest);
  border-radius: 40%;
  padding: 6px;
  font-size: 21px;
}

.user_section .options_user {
  color: var(--sky-lightest);
  background: var(--primary-darkest);
}
