:root {
  --background: #e3ecf2;
  --foreground: #171717;

  --primary-darkest: #0065d0;
  --primary-base: #48a7f8;

  --ink-darker: #202325;
  --ink-dark: #303437;
  --ink-base: #404446;

  --sky-dark: #6c7072;
  --sky-ligth: #cdcfd0;
  --sky-ligther: #e8e9f1;
  --sky-lightest: #f8f9fe;

  --red-base: #ff6d6d;

  --yellow-base: #ffb323;
  --yellow-lightest: #ffefd7;

  --blue-lightest: #c9f0ff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: var(--font-inter-sans), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: hidden;
}

h1 {
  color: var(--primary-darkest);
  font-weight: bold;
  font-size: 1.5rem;
}

h2 {
  color: var(--primary-darkest);
  font-weight: 600;
  font-size: 1.2rem;
}

h4 {
  color: var(--primary-darkest);
  font-weight: 600;
  font-size: 0.9rem;
}

p {
  color: var(--sky-dark);
  font-weight: 400;
  font-size: 0.875rem;
}

.icon {
  margin-top: 4px;
  margin-left: 4px;
  margin-right: 4px;
}

.ghost_bar {
  background: #0065d0;
  background: linear-gradient(
    90deg,
    rgba(0, 101, 208, 1) 40%,
    rgba(0, 101, 208, 0.63) 60%,
    rgba(255, 255, 255, 1) 100%
  );
  height: 1px;
  width: 100%;
  opacity: 0.6;
}

.ghost_traco {
  background: #cdcfd0;
  background: linear-gradient(
    90deg,
    rgba(205, 207, 208, 0.5) 0%,
    rgba(108, 112, 114, 1) 50%,
    rgba(205, 207, 208, 0.5) 100%
  );

  height: 1px;
  width: 100%;
  opacity: 0.6;
}

.error_message {
  background: #ffe1e1;
  color: var(--red-base);
  padding: 10px;
  border-radius: 6px;
  font-size: 14px;
  text-align: center;
}
