:root {
  --background: #e3ecf2;
  --foreground: #171717;

  --primary-darkest: #0065d0;

  --ink-darker: #404446;

  --sky-dark: #6c7072;
  --sky-ligth: #cdcfd0;

  --red-base: #ff5247;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: var(--font-inter-sans), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: hidden;
}

h1 {
  color: var(--primary-darkest);
  font-weight: bold;
  font-size: 1.5rem;
}

p {
  color: var(--sky-dark);
  font-weight: 400;
  font-size: 0.875rem;
}
